1.  Create 1st tuple with values -> (10,20,30), 
    2nd tuple with values -> (40,50,60). 

 a.Concatenate the two tuples and store it in “t_combine”
 b.Repeat the elements of “t_combine” 3 times 
 c.Access the 3rd element from “t_combine”
 d.Access the first three elements from “t_combine”
 e.Access the last three elements from “t_combine”..

In [1]:
tup1 = (10,20,30)
tup2 = (40,50,60)

In [2]:
t_combine = tup1 + tup2
t_combine

(10, 20, 30, 40, 50, 60)

In [3]:
t_combine * 3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [4]:
t_combine[2]

30

In [5]:
t_combine[0:3]

(10, 20, 30)

In [6]:
t_combine[3:6]

(40, 50, 60)

#2. Create a list ‘my_list’ with these elements:
    #a. First element is a tuple with values 1,2,3
    #b. Second element is a tuple with values “a”,”b”,”c”
    #c. Third element is a tuple with values True,False..

In [7]:
my_list = [(1,2,3),('a','b','c'),(True, False)]

In [8]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [9]:
type(my_list)

list

In [10]:
type(my_list[0])

tuple

In [11]:
type(my_list[1])

tuple

In [12]:
type(my_list[2])

tuple

#3. Append a new tuple – (1,’a’,True) to ‘my_list’
    #a. Append a new list – [“sparta”,123] to my_list

In [13]:
my_list.append((1,'a',True))

In [14]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [19]:
type(my_list[3])

tuple

my_list.append(['sparta',123])

In [17]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [18]:
type(my_list[4])

list

#4. Create a dictionary ‘fruit’ where:
 #a. The first key is ‘Fruit’ and the values are
       (“Apple”,”Banana”,”Mango”,”Guava”)
#b. The second key is ‘Cost’ and the values are   
        (85,54,120,70)
#c. Extract all the keys from ‘fruit’
#d. Extract all the values from ‘fruit’...

In [28]:
fruit ={'Fruit':['Apple','Banana','Mango','Guava'], 'Cost':[85,54,120,70]}

In [29]:
fruit

{'Fruit': ['Apple', 'Banana', 'Mango', 'Guava'], 'Cost': [85, 54, 120, 70]}

In [30]:
fruit.keys()

dict_keys(['Fruit', 'Cost'])

In [31]:
fruit.values()

dict_values([['Apple', 'Banana', 'Mango', 'Guava'], [85, 54, 120, 70]])

#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result...

In [32]:
my_set = {1,1,'a','a',True,True}

In [33]:
print(my_set)

{'a', 1}

In [34]:
my_set

{1, 'a'}

In [35]:
type(my_set)

set

In [ ]:
# duplicate value or same values do not repeat in set function.