# If-Else Statement (Assignment-1)

In [ ]:
a = 10
b = 20
if a>b:
    print('a is greter than b')
else:
    print('b is greter than a')

# Conditonal Statements (Assignment-2)

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1>= num2) and (num1>=num3):
    greatest = num1
elif (num2>= num1) and (num2>=num3):
    greatest = num2
else:
    greatest = num3
    
print("The greatest number is", greatest)

Enter first number: 10
Enter second number: 20
Enter third number: 30
The greatest number is 30.0

# ---> **Loops**

# Assignment 1st of Loop

In [1]:
a = 1
while a<=10:
    print(a)
    a +=1

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Assignment 2 of Loop

In [10]:
list = [10,23,4,26,4,75,24,54]
num = 0

while(num<len(list)):
    if list[num]%2 ==0:
        print(list[num], end=' ')
    num+=1

10 4 26 4 24 54

In [12]:
list = [10,23,4,26,4,75,24,54]

for i in list:
    if i%2==0:
        print(i,end=' ')
        num+=1

10 4 26 4 24 54

In [16]:
lower1 = 100
upper1  = 200
print('Prime numbers between',lower1,'and',upper1,'are: ')

for num in range(lower1,upper1 +1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

Prime numbers between 100 and 200 are:
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [17]:
lis = []

for i in range(1,10):
    lis.append(i*i)
print("list with square of intergers from 1 to 10: ")
print(lis)

list with square of intergers from 1 to 10:
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
year = 2024

# if (year%400 ==0) and (year%100 ==0):
#     print("{0} is a leap year".format(year))

if (year%4 ==0) and (year%100!=0):
    print("{0} is a leap year".format(year))
    
else:
    print("{0} is not a leap year".format(year))

2024 is a leap year


# Concept of OOPS in Python [Module - 2]

In [2]:
# import sys
try:
    a = int(input("Enter a num1: "))
    b = int(input("Enter a num2: "))
    result = a/b
    print("The result is:", result)
    
except ZeroDivisionError:
       print("The num2 can't be zero, please try again!!")
except ValueError:
    print("Oops!! That isn't a valid number, please try again...")

else:
    print('The program executed successfully')

finally:
    print('End of program')

Enter a num1: 20
Enter a num2: 0
The num2 can't be zero, please try again!!
End of program

In [3]:
import math
try:
    x = int(input("Enter a value/number between 100 to 1000: "))
    y = math.exp(x)
    print("The result is:", y)
except OverflowError:
    print("Please enter a small number and try again!!")
except ValueError:
    print("Oops!! That isn't a correct number, please try again!!")
else:
    print('Program, worked successfully')
finally:
    print('End of this Program/Code')

Enter a value/number between 100 to 1000: 2000
Please enter a small number and try again!!
End of this Program/Code

In [9]:
from termcolor import colored
import colorama

In [14]:
try:
    K = int(input('Enter the num1: '))
    L = int(input('Enter the num2: '))
    result = K/L
    print()
    print(colored('The result is: %d'%result,'blue','on_red'))
    print()
    
except ZeroDivisionError as chhotu:
    print(colored("The L can't be zero, please try again!!", 'yellow','on_red'))
    print()

except ValueError as rajat:
    print(colored("Oops!! That isn't a correct number, please try again...",'red','on_white'))
    print()
else:
    print(colored('The Code worked successfully','green','on_yellow'))
    print()
    
finally:
    print(colored("End code/program",'white','on_red'))

Enter the num1: 200
Enter the num2: 2

The result is: 100

The Code worked successfully

End code/program

In [18]:
try:
    x = int(input('Enter a value between 1 and 500: '))
    y = math.exp(x)
    print()
    print(colored('The result is: %d'%y, 'blue', 'on_white'))
    print()

except OverflowError as ks:
    print(colored('Please enter a small number and try again!!', 'blue', 'on_yellow'))
    print()
except ValueError as aa:
    print(colored("Oops!! That isn't a valid number, please try again...", 'red', 'on_green'))
    print()
    
else:
    print(colored('The program executed successfully', 'green', 'on_yellow'))
    print()
    
finally:
    print(colored('End of program', 'white', 'on_red'))

Enter a value between 1 and 500: 50

The result is: 5184705528587072045056

The program executed successfully

End of program

In [30]:
import sys
from termcolor import colored, cprint

text = colored('Hello, World!', 'yellow', attrs=['reverse', 'blink'])
print(text)
cprint('Hello, World!', 'red', 'on_blue')

print_red_on_cyan = lambda x: cprint(x, 'red', 'on_cyan')
print_red_on_cyan('Hello, World!')
print_red_on_cyan('Hello, Universe!')

for i in range(10):
    cprint(i, 'magenta', end=' ')

cprint("Attention!", 'red', attrs=['bold'], file=sys.stderr)

Hello, World!
Hello, World!
Hello, World!
Hello, Universe!
0 1 2 3 4 5 6 7 8 9

Attention!

In [31]:
def input_age(age):
   try:
       assert int(age) > 18
   except ValueError:
       return 'ValueError: Cannot convert into int'
   else:
       return 'Age is saved successfully'
 
print(input_age('23'))  # This will print
print(input_age(25))  # This will print
print(input_age('nothing'))  # This will raise ValueError which is handled
print(input_age('18'))  # This will raise AssertionError and the the program collapse
print(input_age(43))  # This will not print

Age is saved successfully
Age is saved successfully
ValueError: Cannot convert into int

AssertionError:

# Module 2 --> Assignment 2

# Pandas Assignment 1

In [34]:
import numpy as np
import pandas as pd
start_off = pd.read_csv('C:/Users/chhot/Downloads/Customer-Churn.csv')

In [35]:
start_off

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
newCols = pd.DataFrame(data=start_off,)