# Module 5

In [1]:
import numpy as np 
import pandas as pd

1. Write a function that takes start and end of a range returns a Pandas series object containing numbers within that range.
In case the user does not pass start or end or both they should default to 1 and 10 respectively.
eg.
 range_series() -> Should Return a pandas series from 1 to 10
 range_series(5) -> Should Return a pandas series from 5 to 10
 range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [2]:
def range_series(*args):
    if len(args) == 0:
        kgf = pd.Series(np.arange(1,11))
    elif len(args) == 1:
        kgf = pd.Series(np.arange(args[0],11))
    else:
        kgf = pd.Series(np.arange(args[0],(args[1]+1)))
    return kgf
range_series(), range_series(5), range_series(5,10)

(0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7     8
 8     9
 9    10
 dtype: int32,
 0     5
 1     6
 2     7
 3     8
 4     9
 5    10
 dtype: int32,
 0     5
 1     6
 2     7
 3     8
 4     9
 5    10
 dtype: int32)

In [4]:
range_series(), range_series(3), range_series(10,20)

(0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7     8
 8     9
 9    10
 dtype: int32,
 0     3
 1     4
 2     5
 3     6
 4     7
 5     8
 6     9
 7    10
 dtype: int32,
 0     10
 1     11
 2     12
 3     13
 4     14
 5     15
 6     16
 7     17
 8     18
 9     19
 10    20
 dtype: int32)

2. Create a function that takes in two lists named keys and values as arguments. Keys would be strings and contain n string values. Values would be a list containing n lists. The methods should return a new pandas dataframe with keys as column names and values as their corresponding values
e.g. -> create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe
  One Two
0  X   A
1  Y   B

In [5]:
def create_dataframe(keys, values, *val):
    return pd.DataFrame(values, index=keys).T
df = create_dataframe(["One", "Two"], [['X', "Y"],['A', 'B']])
print(df)

  One Two
0   X   A
1   Y   B

In [6]:
df1 = create_dataframe(["One", "Two", 'Three'], [['X', "Y", 'Z'],['A', 'B', 'C'],['Apple',"Mango", 'Banana']])
print(df1)

  One Two   Three
0   X   A   Apple
1   Y   B   Mango
2   Z   C  Banana

3. Create a function that concatenates two dataframes. Use previously created function to create two dataframes and pass them as parameters Make sure that the indexes are reset before returning.

In [7]:
df2 = create_dataframe(['One', 'Two'], [['W', 'X'], ['A', 'B']])
df3 = create_dataframe(['One', 'Two'], [['Y', 'Z'], ['C', 'D']])

def concat_dfs(x,y):
    return pd.concat([x,y], axis=0, ignore_index=True)
concat_dfs(df2,df3)

  One Two
0   W   A
1   X   B
2   Y   C
3   Z   D

4. Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [9]:
cars = pd.read_csv("cars_1.csv")
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

5. Write a method that will take a column name as argument and return the name of the column with which the
# given column has the highest correlation.
# the data to be used is the car dataset.
# the returned value should not the column named that was pass as the the parameters.
# E.G: get_max_correlated_column("mpg")--> should return 'drat.'

In [10]:
corrcars = cars.corr()
def get_max_correlated_column(x):
    return corrcars[x].nlargest(2).index[1]
    
get_max_correlated_column('mpg')

'drat'