# Step 4: Import numpy by typing the following code in the notebook and run it by pressing shift + enter

In [1]:
import numpy as np

# Step 5: Create np array of zeroes of size (2, 3) run the following code.

In [2]:
ar = np.zeros((2,3))

In [3]:
ar

array([[0., 0., 0.],
       [0., 0., 0.]])

# Step 6: Flatten 2D np Array to 1d np array.

In [6]:
ar = np.array([[1,2,3],[4,5,6]])
ar.ravel()

array([1, 2, 3, 4, 5, 6])

# Step 7: Convert 1D np Array to 2d np array from a python list.

In [7]:
ar = np.array([1,2,3,4,5,6]).reshape(2,3)

In [8]:
ar

array([[1, 2, 3],
       [4, 5, 6]])

# Step 8: Create np array and sort.

In [16]:
ar = np.array([1,4,5,62,3,2])
ar.sort()

In [17]:
ar

array([ 1,  2,  3,  4,  5, 62])

# Step 9: Slice an np array to create another array without the first two elements of the original array

In [19]:
ar[2:]

array([ 3,  4,  5, 62])